<%- include('header') -%>

<div class="text-center center-div" id="login">
    <div class="container w-25 border py-4 _rapper">
        <div class="title pb-3">
            <h1 class="font-weight-bold">User SignUp</h1>
            <span>SignUp for User</span>
        </div>
        <form action="/auth/signup" method="POST" class="pt-3">
                <div class="form-group">
                    <input type="email" class="form-control" placeholder="email" name="email">
                    <small class="form-text text-muted text-aling-left _xyz">Register an email address</small>
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" name="password" placeholder="password">
                </div>
                <button type="submit" class="btn btn-success rounded-pill"> Submit </button>
        </form>
        <small class="form-text text-muted text-aling-left _xyz2 pt-2">---------- or sign up with ----------</small>
        <div class="row pt-4">
            <div class="col-md-12">
                <a class="btn btn-outline-dark"  role="button" href="<%= googlelink %>" style="text-transform:none">
                    <img width="20px" style="margin-bottom:3px; margin-right:5px" alt="Google sign-in"
                        src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png" />
                    Login with Google
                </a>
                
                <!-- <div class="g-signin2 col-md-12" data-onsuccess="onSignIn"></div>
                https://rjt-test.auth.ap-south-1.amazoncognito.com/login?client_id=7slf75k4la79lfk2390vid1i3a&response_type=token&scope=email+openid+phone+profile&redirect_uri=http://localhost:3001/dashboard/

                https://rjt-test.auth.ap-south-1.amazoncognito.com/oauth2/authorize?identity_provider=Google&redirect_uri=http://localhost:3001/dashboard/&response_type=CODE&client_id=**************&scope=email openid profile
                https://localhost:3001/authorize?redirect_uri=http://localhost:3001/dashboard/&response_type=token&client_id=7slf75k4la79lfk2390vid1i3a&identity_provider=Google
            -->
            </div>
            <p class="pt-4">Already a user? <a href="/">Login</a></p>
        </div>
    </div>
</div>

<%- include('footer') -%>