<%- include('header') -%>

    <div class="container-xl px-4 mt-4">
        <!-- Account page navigation-->
        <nav class="nav nav-borders">
            <a class="nav-link " href="/dashboard">Profile</a>
            <a class="nav-link active ms-0" href="#">Test</a>
            <a class="nav-link" style="    padding: 7px;
            margin-left: auto;
            background-color: red;
            color: white;
            border-radius: 6px;" href="/">Logout</a>
        </nav>
        <div class="test-cards" style="margin: 2rem; display: grid;
        grid-template-columns: auto auto auto auto;
        grid-gap: 20px;
        align-items: start; ">
            <div class="card" style="width: 18rem;">
                <img src="https://cdn.shopify.com/s/files/1/0249/2812/4991/files/image1-20-2-300x225_1.png"
                    class="card-img-top" alt="randon">
                <div class="card-body">
                    <h5 class="card-title">Test 1</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's
                        content.</p>
                    <!-- <a href="#" class="btn btn-primary">Goto Test</a> -->
                    <a href="/ment/payment"><button class="btn btn-primary">Goto Test</button></a>

                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <img src="https://cdn.shopify.com/s/files/1/0249/2812/4991/files/image1-20-2-300x225_1.png"
                    class="card-img-top" alt="randon">
                <div class="card-body">
                    <h5 class="card-title">Test 2</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's
                        content.</p>
                    <a href="#" class="btn btn-primary">Pay Now</a>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <img src="https://cdn.shopify.com/s/files/1/0249/2812/4991/files/image1-20-2-300x225_1.png"
                    class="card-img-top" alt="randon">
                <div class="card-body">
                    <h5 class="card-title">Test 3</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's
                        content.</p>
                    <a href="#" class="btn btn-primary">Pay Now</a>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <img src="https://cdn.shopify.com/s/files/1/0249/2812/4991/files/image1-20-2-300x225_1.png"
                    class="card-img-top" alt="randon">
                <div class="card-body">
                    <h5 class="card-title">Test 4</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's
                        content.</p>
                    <a href="#" class="btn btn-primary">Pay Now</a>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <img src="https://cdn.shopify.com/s/files/1/0249/2812/4991/files/image1-20-2-300x225_1.png"
                    class="card-img-top" alt="randon">
                <div class="card-body">
                    <h5 class="card-title">Test 4</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's
                        content.</p>
                    <a href="#" class="btn btn-primary">Pay Now</a>
                </div>
            </div>
        </div>
    </div>

    <%- include('footer') -%>