<%- include('header') -%>

    <div class="text-center center-div" id="login">
        <div class="container w-25 border py-5 _rapper">
            <div class="title pb-5">
                <h1 class="font-weight-bold">Please Verify Your Email</h1>
                <span>User not verify</span>
            </div>
            <form action="/auth/verify/user_id=<%= email %>" method="POST" class="pt-3">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Verification Code" name="verify">
                </div>
                <button type="submit" class="btn btn-success rounded-pill"> Submit </button>
            </form>
        </div>
    </div>

    <%- include('footer') -%>